<nav class="navbar navbar-toggleable navbar-inverse bg-inverse main-nav">
    <div class="container">
        <ul class="nav navbar-nav flex-grow">

        </ul>
        <ul class="nav navbar-nav flex-grow justify-content-center">
            <li class="nav-item" ><a class="navbar-brand hidden-xs-down" href="#">NIP/REGON/KRS seeker</a></li>
        </ul>
        <ul class="nav navbar-nav flex-grow justify-content-end">


        </ul>
    </div>
</nav>

<!--<nav>-->
<!--<div class="nav-wrapper grey darken-3">-->
<!--<a href="#" class="brand-logo center">Credo</a>-->
<!--<ul id="nav-mobile" class="left hide-on-med-and-down ">-->
<!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--<a [routerLink]="['/']">Home <span class="sr-only">*str</span></a>-->

<!--</li>-->
<!--<li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--<a [routerLink]="['/dashboard']">Dashboard <span class="sr-only">*str</span></a>-->
<!--</li>-->
<!--<li  *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--<a [routerLink]="['/profile']">Profile</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="right hide-on-med-and-down">-->
<!--<li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--<a (click)="onLogoutClick()" href="#">Logout</a>-->
<!--</li>-->
<!--<login-modal-button *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->

<!--</login-modal-button>-->
<!--</ul>-->
<!--</div>-->

<!--</nav>-->
